
.contactTitle{
 font-size: 50px;
    color:gold;
    font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
  text-decoration: underline;
  margin: 30px 0px;
  
}

.location,.phone,.mail{
    font-size: 20px;
    color:beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 10px 100px;
    
     margin-top: 10px;
}


.box3{
      width:450px;
    height: 400px;
    z-index: 999;
    margin-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
    
}
