body{
    background: bisque;
    overflow: hidden;
    margin:0;
    padding: 0;
}


.bgimg{

   background-image: url("../assets/home.jpg");
  background-size: cover;           
  background-repeat: no-repeat;       
  background-position: left top; 
  background-color: bisque;          
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  min-width: 100%;
display: flex;
justify-content: center;
align-items: center;
  
}
header{
    background-color: black;
    z-index: 2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-bottom: 1px solid grey;
}
 
.box{
    width:400px;
    height: 300px;
    
    z-index: 999;
    margin-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: 10px;
  
}

.title{
font-family: 'Bonheur Royale';
font-size: 80px;
color: gold;
text-align: center;
  
margin-bottom: -35px;  
}

.desc{
    font-size: 50px;
    color:beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
 
     margin-top: -30px;
}
.time{
    font-size: 20px;
    color: white;
    text-align: center;
  
     margin-top: 100px;
}

button{
    all:unset;
    padding:10px 30px;
    background-color: black;
    color: gold;
    font-size: 20px;
    border: 1px solid gold;
    border-radius: 8px;
    font-family:'Times New Roman', Times, serif;
}

button:hover{
    transform: scale(1.04);
    cursor: grab;
} 